[Desktop Entry]
Name=Photos
Exec=photos
Icon=com.amphi.photos
Type=Application
Terminal=false
Categories=Graphics;Multimedia;Viewer;
Comment=Cross-platform photos app with self-hosted sync