[Desktop Entry]
X-AppImage-Arch=x84_64
X-AppImage-Version=latest
X-AppImage-Name=Photos
Name=Photos
Exec=photos
Icon=com.amphi.photos
Type=Application
Terminal=false
Categories=Graphics;Multimedia;Viewer;
Comment=Cross-platform photos app with self-hosted sync