[Desktop Entry]
Name=Cloud
Exec=cloud
Icon=com.amphi.cloud
Type=Application
Terminal=false
Categories=Network;Utility;FileManager;
Comment=A self-hosted cloud for secure file storage