[submodule "photos/shared-modules"]
	path = photos/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "cloud/shared-modules"]
	path = cloud/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "notes/shared-modules"]
	path = notes/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "music/shared-modules"]
	path = music/shared-modules
	url = https://github.com/flathub/shared-modules.git
