[Desktop Entry]
Name=Music
Exec=music
Icon=com.amphi.music
Type=Application
Terminal=false
Categories=Music;
Comment=Cross-platform music player with support for syncing libraries via a self-hosted server